---
layout: default
title: Design System
---

<div class="container-sm | p-5 text">
    <article class="article">
        <header class="article__header">
            <h1>Why I prefer rem over em</h1>

            <div class="article__meta | cluster">
                <a href="#" class="c-grey-500">Jenn</a>
                <a href="#" class="c-grey-500">Feb 11</a>
                <a href="#" class="c-grey-500">2 min read</a>
            </div>

            <div class="article__tags | mt-2 | cluster">
                <a href="#" class="label | bg-negative">#html</a>
                <a href="#" class="label | bg-positive">#css</a>
            </div>
        </header>

        <p>I always prefer to use rem units over em units in CSS.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat luctus rhoncus. Nulla eleifend tempus consequat. Nunc sagittis turpis nec sapien consectetur, eget volutpat velit gravida. Aenean eu velit tristique, ornare eros nec, dictum quam. Mauris ut massa sollicitudin, pellentesque mi vitae, accumsan lorem. Proin gravida id tortor et imperdiet. Nunc ligula leo, tempus id urna et, hendrerit accumsan tortor. Donec vel molestie mi, sed sollicitudin dolor. In aliquam congue venenatis. Suspendisse quis tellus at risus fringilla blandit. Maecenas interdum vehicula elit eu molestie. Aliquam rutrum nisi vitae felis egestas, quis aliquam elit feugiat. Nulla nibh diam, suscipit ullamcorper nulla ut, mattis consectetur magna. Aenean vel nibh placerat, mattis nisl vitae, hendrerit augue.</p>
        <p>Fusce egestas ante ut urna sagittis laoreet. In dictum malesuada orci, quis aliquam arcu varius nec. </p>

        <div class="breakout flow-space-7">
            <img src="https://unsplash.it/2144/768" alt="">
        </div>
    </article>
</div>